
*.pyc
apps/administracion/migrations/0001_initial.py
apps/administracion/migrations/0002_gasto.py
apps/administracion/migrations/0003_auto_20210408_2243.py
apps/administracion/migrations/0004_auto_20210408_2352.py
