<head>
	<title>Modificar Grupo</title>
</head>
<body>
	{% block content %}


	<div id="container">
		<h1>Modificar Grupo</h1>
		<div class="col-md-6">
			<div class="card card-body">

				<form action="" method="POST">
					{% csrf_token %}
					{{ form.management_form }}
					<div>
						{% for field in form %}
						{{field}}
						<hr>
						{% endfor %}

					</div>
					
					
					
					<div>
						<button type="submit" class="btn btn-primary btn-block mt-5">Actualizar</button>
						<a  href="{% url "gestion:grupos-listar" %}" class="cancellink-box">Cancelar</a>
					</div>

				</form>

			</div>
		</div>
	</div>


	{% endblock %}
</body>

